body {
    align-items: center;
    background-color: #101011;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    justify-content: center;
    height: 100vh;
    margin-top: 0;
    min-height: fit-content;
    width: 100vw;
}

.header {
    margin-bottom: 2rem;
}

.header-link {
    color: #fff;
    text-decoration: underline;
    font-size: 1.25rem;
    padding: 1.25rem;
}

.location {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.profile-img {
    margin-bottom: 2rem;
    width: 25vw
}

.social-link {
    color: #fff;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.social-links {
    font-size: 1.75rem;
    margin-top: 1.5rem;
}

.subtitle {
    font-size: 1.5rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}